.excel__table {
  position: absolute;
  top: $header-height + $formula-height + $toolbar-height;
  left: 0;
  right: 0;
  overflow-x: auto;
  overflow-y: hidden;

  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }

  .row-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;
    user-select: none;
  }

  .row-data {
    display: flex;
  }

  .col-resize, .row-resize {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #3c74ff;
    opacity: 0;
    z-index: 100;

    &:hover, &:active {
      opacity: 1;
    }
  }

   .row-line {
     position: absolute;
     top: 50%;
     height: 2px;
     transform: translateY(-50%);
     z-index: 100;
     background: #3c74ff;
  }

   .col-line {
     position: absolute;
     left: 50%;
     width: 2px;
     transform: translateX(-50%);
     background: #3c74ff;
  }

  .row-resize {
    height: 4px;
    left: 0;

    &:hover {
      cursor: row-resize;
    }
  }

  .col-resize {
    width: 4px;
    top: 0;

    &:hover {
      cursor: col-resize;
    }
  }

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: 0;
    border-left: 0;
    color: #111;
    white-space: nowrap;
    outline: none;


    &.selected {
      background: #baceff;
      outline: none;
      opacity: .5;
    }

    &.active {
      outline: 2px solid #3c74ff;
      z-index: 2;
    }
  }

  .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    height: 100%;
    user-select: none;
  }
}